<h1>Edit product</h1>

<%= render 'form' %>

<p><%= link_to 'Back', @product %></p>

<!-- <%= form_for @product do |x| %> -->

  <!-- <div class="field">
  </div> -->

<!-- <p>
  <%= x.label :name %><br>
  <%= x.text_field :name %>
</p>

<p>
  <%= x.label :description %><br>
  <%= x.text_field :description %>
</p>

<p>
  <%= x.label :price_in_cents %><br>
  <%= x.text_field :price_in_cents %>
</p>

<p>
  <%= x.submit "Save changes" %>
</p>

<% end %> -->
